@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><form method="post" action="#"><input class="col-sm-6 col-md-6" type="search" name="#" value="SEARCH BAR" /></form></p>
</div>
<br /><br /><br /><br />

<img src="~/images/clock.png" width="100%" style="align-content:center" />

<br /><br />
