@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Thunderdome</h1>
    
    <form asp-controller="Home" asp-action="Search" method="post">
        <input type="search" name="qSearch" class="col-sm-6 col-md-6" value="search question tags"/>
        
    </form>
</div>
<br /><br /><br /><br />

<img src="~/images/clock.png" width="100%" style="align-content:center" />

<br /><br />
