
@{
    ViewData["Title"] = "LoginForm";
}

<h1>Who Are You?</h1>

<br />
<div style="color:red">@DAL.loginerror</div>
<br />

<form method="post" action="/home/login">
    Your name is... <input type="text" name="username" /><br />
    <input type="submit" />
</form>

